.col {
    border: 2px solid #899F83;
}

html, body {
    background: url(media/ironcrownflag.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
